 
* {
    background-color: black;
}

#headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}

h1 {
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

input {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    border-top: 2px transparent;
    border-left: transparent;
    border-right: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchingFor {
    margin: 10px;
}
select {
    margin: 10px;
    margin-left: 30px;
    color: white;
    height: 30px;
    width: 120px;
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
}

button {
    margin: 10px;
    color: white;
    height: 30px;
    width: 120px;
    border: 3px solid white;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}

.kitty {
    height: 160px;
    width: 100%;
    margin-top: 10px;
}

.searchResult {
    width: 200px;
    height: 220px;
    margin: 10px;
    border: 3px solid white;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    width: 200px;
    text-align: center;
    color: white;
}

#results-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}